//default style

:root{
    --header-bg: rgba(90, 146, 19, 1);
    --text-color_header: rgba(255, 255, 255, 1);
    --btn-bg_color: rgba(249, 177, 1, 1);
    --text-color_section: rgba(51, 51, 51, 1);
    --input-border: rgba(75, 38, 6, 0.5);
    --text: rgba(0, 0, 0, 1);
    --product-bg_color:  rgba(242, 242, 242, 1);
}