.contact{
    width: 100%;
    height: 25%;
    padding: 20px 30px;
    .contact-inner{
        .contact-text{
            text-align: left;
            font-size: 18px;
            line-height: 22px;
            color: var(--btn-bg_color);
            text-transform: uppercase;
            font-weight: 700;
        }
        .contact-title{
            text-align: left;
            margin: 15px 0;
            font-size: 40px;
            line-height: 49px;
            color: var(--text-color_section);
            text-transform: uppercase;
        }
        .contact-list{
            text-align: left;
            padding-left: 0px;
            width: 50%;
            display: grid;
            grid-template-columns: auto auto;
            .contact-item1, .contact-item2, .contact-item3, .contact-item4, .contact-item5, .contact-item6{
                padding: 10px;
                border-right: 1px solid;
                border-left: none;
            }
            .contact-item1, .contact-item2, .contact-item3, .contact-item4{
                border-bottom: 1px solid;
                border-right: 1px solid;
            }
        }
    }
}

@media only screen and (max-width: 1350px){
    .contact{
        width: 100%;
        height: 100%;
        .contact-inner{
            .contact-text{
                text-align: left;
                font-size: 18px;
                line-height: 22px;
                color: var(--btn-bg_color);
                text-transform: uppercase;
                font-weight: 700;
            }
            .contact-title{
                text-align: left;
                margin: 15px 0;
                font-size: 40px;
                line-height: 49px;
                color: var(--text-color_section);
                text-transform: uppercase;
            }
            .contact-list{
                text-align: left;
                padding-left: 0px;
                width: 50%;
                display: grid;
                grid-template-columns: auto auto;
                .contact-item1, .contact-item2, .contact-item3, .contact-item4, .contact-item5, .contact-item6{
                    padding: 10px;
                    border-right: 1px solid;
                    border-left: none;
                }
                .contact-item1, .contact-item2, .contact-item3, .contact-item4{
                    border-bottom: 1px solid;
                    border-right: 1px solid;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 1230px){
    .contact{
        width: 100%;
        height: 100%;
        .contact-inner{
            .contact-text{
                text-align: left;
                font-size: 18px;
                line-height: 22px;
                color: var(--btn-bg_color);
                text-transform: uppercase;
                font-weight: 700;
            }
            .contact-title{
                text-align: left;
                margin: 15px 0;
                font-size: 40px;
                line-height: 49px;
                color: var(--text-color_section);
                text-transform: uppercase;
            }
            .contact-list{
                text-align: left;
                padding-left: 0px;
                width: 70%;
                display: grid;
                grid-template-columns: auto auto;
                .contact-item1, .contact-item2, .contact-item3, .contact-item4, .contact-item5, .contact-item6{
                    padding: 10px;
                    border-right: 1px solid;
                    border-left: none;
                }
                .contact-item1, .contact-item2, .contact-item3, .contact-item4{
                    border-bottom: 1px solid;
                    border-right: 1px solid;
                }
            }
        }
    }
}
@media only screen and (max-width: 970px){
    .contact{
        width: 100%;
        height: 100%;
        .contact-inner{
            .contact-text{
                text-align: left;
                font-size: 18px;
                line-height: 22px;
                color: var(--btn-bg_color);
                text-transform: uppercase;
                font-weight: 700;
            }
            .contact-title{
                text-align: left;
                margin: 15px 0;
                font-size: 40px;
                line-height: 49px;
                color: var(--text-color_section);
                text-transform: uppercase;
            }
            .contact-list{
                text-align: left;
                padding-left: 0px;
                width: 90%;
                display: grid;
                grid-template-columns: auto auto;
                .contact-item1, .contact-item2, .contact-item3, .contact-item4, .contact-item5, .contact-item6{
                    padding: 10px;
                    border-right: 1px solid;
                    border-left: none;
                }
                .contact-item1, .contact-item2, .contact-item3, .contact-item4{
                    border-bottom: 1px solid;
                    border-right: 1px solid;
                }
            }
        }
    }
}